.search__container {
	padding: 64px 0;
	/* padding-top: 64px; */
	text-align: center;
}

.search__input {
	width: 60%;
	padding: 12px 24px;

	background-color: transparent;
	font-size: 14px;
	line-height: 18px;

	color: #000;
	border-radius: 50px;
	border: 1px solid #575756;
}

.search__button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	margin-left: 20px;
}
