@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.nav__links {
	list-style: none;
	float: right;
}

.nav__link {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;

	display: inline-block;
	padding: 0px 20px;
}
