footer {
	padding: 50px 60px;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: space-between;
	gap: 5vw;
	align-items: center;
}

.footer__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer__item .footer__title {
	font-weight: 700;
	font-size: 20px;
}

.footer__item .footer__descr {
	font-weight: 300;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	margin-top: 1vh;
	flex-wrap: wrap;
}

.footer__item .footer__descr span {
	width: 100%;
}
